<header th:fragment="header" class="main-header">
    <div class="nav-contenedor">

        <a th:href="@{/}" class="loguito">
            💼 Bolsa de Empleo
        </a>

        <nav class="navegador">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/empresa/login}">Empresa</a>
            <a th:href="@{/oferente/login}">Oferente</a>
            <!--<a th:href="@{/admin/login}">Admin</a>--  lo elimine de aqui para dejar un poco de seguridad     -->
        </nav>

    </div>
</header>

<footer th:fragment="footer" class="footer">
    <p>Bolsa de Empleo &copy; 2026 &mdash; Universidad Nacional &mdash; Programación IV</p>
    <p>Contacto: <a href="mailto:info@bolsaempleo.cr">info@bolsaempleo.cr</a></p>
</footer>

<div th:fragment="alertas" class="alert">
    <div th:if="${error}"   class="alert alert-error"   th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <div th:if="${info}"    class="alert alert-info"    th:text="${info}"></div>
</div>